@media(min-width:500px){
	     	h1::before{
                content:"History of Kenya Timeline";
                text-align: center;
	     	}
	     }

	     @media(max-width:499px){
	     	h1::before{
	     		content: "Kenyan Timeline";
	     		text-align:center;
	     	}
	     }

	     @media(max-width:499px){
	     	body{
	     		background-color:linen;
	     	}

	     }

	     @media(min-width:500px){
	     	 body{
	     	 	background-color:lightpink;
	     	 }
	     }


	      #precolonial ul>li{
	     	font-style: arial;
	     	color:midnightblue;
	     }
          
          #colonial ul>li{
          	font-style:Roboto;
          	color:purple;
          }

          #postcolonial ul>li{
          	font-style:Georgia;
          	color:forestgreen;
          }
	    
	     

	     div>p{
	     	color: red;
	     	text-align: center;
	     	font-weight: bold;
	     }

	     th{
	     	padding:5px;
	     }

	     table{
	     	width:50%;
	     }
	